@import '../../../lib/styles/colors';

.list {
  display: flex;
  flex-wrap: wrap;

  .item {
    display: block;
    width: 180px !important;
    padding: 10px;
    transition: all .4s;
    user-select: none !important;
    border-radius: 10px;

    &:hover {
      transform: scale(1.3);
      z-index: 99;
      background-color: $color-bitcoach-gray;
    }
  }

}
