<div class="wrapper">

  <div class="social-wrapper">
    <div class="profile-picture">
      <img class="img-fluid" [src]="picture"
           [style.width.px]="pictureSize"
           [style.height.px]="pictureSize">
    </div>

    <div class="name">
      {{name}} <span *ngIf="isValidated"><img class="validated" src="assets/img/check.png"></span>
    </div>
  </div>
  <div class="information">
    <div class="voteo-table">
      <input #cryptoAddressElement class="voteo-row"
             (click)="copyToClipboard()" [(ngModel)]="cryptoAddress">
      <div class="voteo-row">{{address}}</div>
      <div class="voteo-row">{{contacts}} {{'profile.contacts' | translate}}</div>
      <div class="voteo-row">{{email}}</div>
    </div>
  </div>
</div>
